<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<style type="text/css" >
a:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
a:hover, a:active {
    outline: 0 none;
}
body {
    background-color: white;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}
a {
    color: #0088CC;
    text-decoration: none;
}
a:hover {
    color: #005580;
    text-decoration: underline;
}
.row {
    margin-left: -20px;
}
.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}
.table {
    margin-bottom: 18px;
    width: 100%;
}
.table th, .table td {
    border-top: 1px solid #DDDDDD;
    line-height: 18px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.table th {
    font-weight: bold;
}
.table thead th {
    vertical-align: bottom;
}
.table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
    border-top: 0 none;
}
.table tbody + tbody {
    border-top: 2px solid #DDDDDD;
}
.table-condensed th, .table-condensed td {
    padding: 4px 5px;
}
.table-bordered {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
    border-radius: 4px 4px 4px 4px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
}
.table-bordered th, .table-bordered td {
    border-left: 1px solid #DDDDDD;
}
.table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td, .table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
    border-top: 0 none;
}
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
    border-top-left-radius: 4px;
}
.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
    border-top-right-radius: 4px;
}
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
    background-color: #F9F9F9;
}
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #F5F5F5;
}
table .span1 {
    float: none;
    margin-left: 0;
    width: 44px;
}
table .span2 {
    float: none;
    margin-left: 0;
    width: 124px;
}
table .span3 {
    float: none;
    margin-left: 0;
    width: 204px;
}
table .span4 {
    float: none;
    margin-left: 0;
    width: 284px;
}
.odd{
    background-color: #F5F5F5;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 0px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

 .bor{
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    padding-bottom :3px;
    margin-bottom :10px;
    line-height :2em;    
    }
</style>

  </head>
  <body> 

<h1>Time Sheet (<%= @pay_period.pay_start.strftime("%d %b") %> - <%= @pay_period.pay_end.strftime("%d %b") %> )</h1>

<div class="well">
  <p>Periods : <strong><%= @pay_period.pay_start.to_s(:detail) %></strong> - <strong><%= @pay_period.pay_end.to_s(:detail) %></strong></p>
  <p>Pay Day: <%= @pay_period.pay_day.to_s(:detail) %></p>
  <p>Status : <%= @pay_period.active? ? "Active" : "Not Active" %></p>
 
 <% if @cur_admin %>

<p>Admin Hours : <%= @tot_hrs %></p>
<% end %>
 
 <% if @cur_admin %>
<p>Total Hours : <%= @pay_period.total_hours %></p>
<% else %>
<p>Total Hours : <%= @tot_hrs %></p>
<% end %>
  
</div>

 <table class="table table-striped" cellspacing =5 cellpadding= 3 >
   <tr style="color: #0088CC;background-color: #F5F5F5;" >
      <th class="span2">Date</th>
      <th>Activity</th>
      <th>Hours</th>
    <th>Task</th>
	<th>User</th>  
	
    </tr>
    <% for time_record in @time_records %>
      <tr  class="<%= cycle('even', 'odd') %>" >
        <td><%= time_record.activity_date.strftime('%b-%d-%Y') %></td>
        <td><%= time_record.description %></td>
        <td><%= time_record.total_hours %></td>
        <td><%= time_record.project.try(:title) if !time_record.project_id.blank?  %></td>
        <td><%= time_record.user.try(:username) if !time_record.user_id.blank?  %></td>
        
      </tr>
    <% end %>
  </table>
<br/><br/>
<br/><br/>
<div class="bor">
  <% if !@message.blank? %>
 <legend >Here is Message details </legend>
 <p style="text-indent:10px"><%= @message %></p>
  <% end %>
</div>

<br/><br/>
<p> Thank You </p>
<p> TeamCloud </p>
  </body>
</html>
