<%= simple_form_for @user, :url => password_reset_path(@user),:html => {:method => :put, class: 'form-horizontal'} do |f| %>
   <%= f.error_notification %>
  <fieldset>
  <legend>Password Reset  Form</legend>
    
 
  <div class="well">  
      <%= f.input :username ,:readonly=> true %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
     <%= hidden_field_tag :token, @token %>
    </div>
  
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary'  %>
  </div>
  <fieldset>
<% end %>
