
<script type="text/javascript" >
//for selecting all checkboxes
function update_issue_id() {         
     var allVals = [];
     $('.searched_result :checked').each(function() {
       allVals.push($(this).val());
     });
     $('#issue_check').val(allVals);
  }
//for selecting individual checkboxes 
$(function() {
   $('.searched_result input').click(update_issue_id);
   update_issue_id();
 });

 $(document).ready(function (){
  $(".check_all_or_none").click(function(){
  $('.searched_result :checkbox').attr('checked', $( this ).is( ':checked' ) ? true : false );
  update_issue_id();  
  });
});
</script>
<style type="text/css">
.last span{
  display:inline;
}
.last {
  width:80px;
}
</style>
<script type="text/javascript" >

</script>
<%#= render :partial => "menu1" if current_user.admin? %><br/>
<%= render :partial => "menu" %>
<%= render :partial => "search_form", locals: {q: @q} %>

<div id="search-result">
  <% if @issues.blank? %>
    <% if params[:q] %>
      <p class="well">Your search does not generate a result</p>
    <% end %>
<div style="float:left;">
<% if @issues.blank? %>
<b style="color:red;">No Records Found </b>
<% end %>
</div>
  <% else %>
    <div style="float:left;margin-bottom:10px;"><b><% unless @issues.blank? %>(<%= @issues.count %>) Records Found<% end %></b></div>
   
     <% if controller.action_name != "index" %>     
     <select name="sel" class="s <%= @secret if !@secret.blank? %> span1" id="up" >
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
     </select>
    <% end %>
   <span class="pull-right" style="padding:5px 5px;"><a href="#" style="text-decoration:none"><b>Pagination Range</b></a>
   </span>

    <br/>
    <table class="table table-striped">
   <tr>
    <th style="width:15px;"><input type="checkbox" class="check_all_or_none"> </th>
    <th><%= sort_link(@q, :title , "Title") %></th>
    <th><%= sort_link(@q, :issuetype, "Issuetype") %></th>
    <th><%= sort_link(@q, :project_type_id, "Project")%></th>
    <th><%= sort_link(@q, :project_id, "Task") %></th>
    <th><%= sort_link(@q, :description, "Description") %></th>
    <th><%= sort_link(@q, :active, "Active") %></th>
    <th></th>
    <th></th>
  </tr>

<% @issues.each do |issue| %>
  <tr>
    <td class="searched_result" ><input type="checkbox" name="issue_list[]" id="check_<%= issue.id %>"  value= "<%= issue.id %>"></td>
    <td><%= issue.title %></td>
    <td><%= issue.issuetype.try(:issuetype) %></td>
    <td><%= issue.project_type.try(:type_name) %></td>
    <td><%= issue.project.try(:title) %></td>
    <td><%= issue.description %></td>
    <%= simple_form_for :issue , url: "/issues/status/#{issue.id}" do %>
      <% if issue.active == true %>
        <td> <input type="checkbox" name="active" checked='checked' onclick="this.form.submit();" > </td>   
      <% else %> 
        <td> <input type="checkbox" name="inactive" onclick="this.form.submit();"></td>     
      <% end %>
    <% end %>    
    <td><%= link_to 'Edit', edit_issue_path(issue) ,class: 'btn btn-mini' %>
        <%= link_to 'Destroy', issue, confirm: 'Are you sure?', method: :delete ,class: 'btn btn-danger btn-mini' %></td>
  </tr>
<% end %>
</table>
<%= paginate @issues %>
<% end %>
 </div>



<script type="text/javascript">
    $('document').ready(function(){
        var n= $('#myid').val();        
        $('#paginatevalues').val(n);
    });
</script>

