<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @expensetype.name %>
</p>

<p>
  <b>Usage:</b>
  <%= @expensetype.usage %>
</p>


<%= link_to 'Edit', edit_expensetype_path(@expensetype) %> |
<%= link_to 'Back', expensetypes_path %>
