<script type="text/javascript">

$(function(){
// Datepicker
$('#datepicker').datepicker({
//inline: true
dateFormat:  'mm/dd/yy'
});
$('#datepicker7').datepicker({
//inline: true
dateFormat:  'mm/dd/yy'
});
$('#datepicker2').datepicker({
//inline: true
dateFormat:  'mm/dd/yy'
});
$('#datepicker1').datepicker({
//inline: true
dateFormat:  'mm/dd/yy'
});
$('#datepicker2').datepicker({
//inline: true
dateFormat:  'mm/dd/yy'
});
$('#datepicker3').datepicker({
//inline: true
dateFormat:  'mm/dd/yy'
});
$('#datepicker4').datepicker({
//inline: true
dateFormat:  'mm/dd/yy'
});
$('#datepicker5').datepicker({
//inline: true
dateFormat:  'mm/dd/yy'
});
$('#datepicker6').datepicker({
//inline: true
dateFormat:  'mm/dd/yy'
});

$("#dates").click(function () {
  var $that = $(this);
  $("#range").toggle("slow", function() {
    $that.toggleClass("toggled-off");
  });
});

$("#date").click(function () {
  var $that = $(this);
  $("#ranges").toggle("slow", function() {
    $that.toggleClass("toggled-off");
  });
});								
});
 $('document').ready(function(){
     $('#advance-search').click(function(){
        $('#advance-search-form').toggle()
        $('#simple-search-form').toggle()  
     
    }); 
$('#select_emails :checkbox').removeAttr('checked'); 





 $('.email-link').click(function(e){ 
        e.preventDefault();
       
        if($('#project_check').val() == ''){
          alert("Please select atleast one task ");
              return false;
          } 
        if($('#project_check').val() != ''){
                  var task_ids = $('#project_check').val();
                  $('.select-contacts').css("display","block");
                  $('#various2').fancybox();  
			              	$.ajax({
                          type: "POST",
                          url: "/projectmaillist",
                          traditional: true,
                          data: {
                              ids: task_ids
                                  },
                          success:function(data, textStatus, XMLHttpRequest){
                                $('#data').html(data);   
                                                           
                               }  
				                    });                        
                }  
 });





  $("#select_emails").change(function() {
      $('.email-link').addClass("send"); 
  });

	 $('.s').change(function(){  
             if($(this).hasClass('up')){
              var input = $("<input>").attr("type", "hidden").attr("name", "mydata").val($('.s').val());
              $('.upform').append($(input));
                $('.upform').submit();
              }else{
                 var input = $("<input>").attr("type", "hidden").attr("name", "mydata").val($('.s').val());
                 $('.downform').append($(input));
                 $('.downform').submit();
              }
        });
        var n= $('#myid').val();        
        $('#up').val(n);






  /* for selection */ 
  $('.ui-multiselect-none').click(function(){
    $('#select :checkbox').removeAttr('checked');  
    $('#project_check_all').val("");
     
  });
//getting all checked Values when chekall is clicked
  $("#select_emails")
    .multiselect()
    .bind("multiselectclick multiselectcheckall multiselectuncheckall", function( event, ui ){
        var checkedValues = $.map($(this).multiselect("getChecked"), function( input ){
            return input.value;
          });
        // alert(checkedValues);
        $('#project_check_all').val(checkedValues);
    });


});
//getting individual  value when check box is clicked

 $(function() {
   $('.ui-multiselect-checkboxes input').click(function(){
    var array_of_checked_values = $("#select_emails").multiselect("getChecked").map(function(){
    return this.value;	
    }).get();  
      $('#project_check_all').val(array_of_checked_values); 
     // alert(array_of_checked_values);
    });
 });



/* fror selection */ 

</script>
<style>
 .bor{
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    padding-bottom :3px;
    margin-bottom :10px;
    line-height :2em;    
    }
</style>

<div id="simple-search-form">
  <%= search_form_for q,:url => search_project_types_path, :html => {method: :post, class: 'well form-search upform'}  do |f| %>
  <fieldset>
    <%= f.text_field :type_name_or_project_group_or_projecttype_projecttype_or_proj_number_or_status_cont,:style=>"width:220px;", class: "input-medium search-query" %>
    <button type="submit" class="btn">Search</button> &nbsp;&nbsp;
    <a href="#" id="advance-search">Advanced</a> 
     <input type="hidden" name="up">
  <% end %>
 <!-- for mailing the projects transactions -->




<% if !@projects.blank? %>
<%= simple_form_for :project_type,:url => url_for(:action=>'email_projects',:controller=>'project_types'), :html => {method: :post, class: 'form-horizontal'}  do |f| %>

<%= hidden_field_tag "project_check" %>


<%#= f.submit "",:style=>"float:right;margin-top:-25px;", :class=> "email-link" %>
<a id="various2" href="#nenu" title="Sending Email Projects"><%= image_submit_tag("email_icon.png", :class=> "email-link",:style=>"float:right;margin-top:-25px;width:25px;height:25px;") %></a>

<% end %>
<% end %>
<!-- for mailing the projects transactions -->
  </fieldset>
</div>
<div style="display: none;">
    
		<div id="nenu" style="width:800px;height:500px;overflow:auto;">
		<span class="select-contacts pull-right">

      <select style="display: none;width:280px" id="select_emails" class="span1 contacts" title="Email Projects" multiple="multiple" name="email_contacts" size="5">
         <% @cntcts.each do |contact| %>
	          <% if !contact.email.blank? %>
	            <option value="<%= contact.id %>"><%= contact.email %></option>
            <% end %>
	       <% end %>
	      </select>
   </span>
    <br/>
    <div class="bor"><h4>List of the Projects to be sent </h4></div>
    <div id="data"></div>

   </div>
	 </div>



<input type="hidden" id="myid" value='<%= @choosed if !@choosed.blank? %>'>
<div id="advance-search-form" style="display: none">
  <%= search_form_for q,:url => search_project_types_path, :html => {method: :post, class: 'form-horizontal downform'}  do |f| %>
  <fieldset>
  <legend>Search Project</legend>
<br/>
	 <input type="hidden" name="down">
<table>
<tr>
  <td>
    <div class="control-group">
    <%= f.label :type_name_cont, "Title", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :type_name_cont %>
    </div>
  </div>
  </td>
  <td>
   <div class="control-group">
    <%= f.label :start_date_cont, "Start Date", class: 'control-label' %>
    <div class="controls">
      <% if q.start_date_cont.blank? %>
    <%= f.text_field :start_date_cont, include_blank: true, default: nil, :id => 'datepicker1', :style=>"width:100px;" %> 
      <% elsif !q.start_date_cont.blank? %>
      <%= f.text_field :start_date_cont, :value => "#{change_date_format_for_edit_page(q.start_date_cont)}", :id => 'datepicker1', :style=>"width:100px;" %> 
      <% end %> 
      
    </div>
  </div>
  </td>
</tr> 
  
  <tr>
   <td>
   <div class="control-group">
      <%= f.label :created_by_cont, "Created By", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :created_by_cont %>
    </div>
  </div>
  </td>
  <td>
<div class="control-group">
    <%= f.label :end_date_cont, "End Date", class: 'control-label' %>
    
    <div class="controls">
      <% if q.end_date_cont.blank? %>
    <%= f.text_field :end_date_cont, include_blank: true, default: nil, :id => 'datepicker7', :style=>"width:100px;" %> 
      <% elsif !q.end_date_cont.blank? %>
      <%= f.text_field :end_date_cont, :value => "#{change_date_format_for_edit_page(q.end_date_cont)}", :id => 'datepicker7', :style=>"width:100px;" %> 
      <% end %> 
      
    </div>
  </div>
  
   </td>

</tr> 
  <tr>
 <td>
    <div class="control-group">
    <%= f.label :project_group_cont, "Project Group", class: 'control-label' %>
    <div class="controls">
      <%#= f.label "Project Type", :style => "margin-right:20px;" %>
	  <%#= f.collection_select :project_type_cont, @project_types,:project_type, :project_type ,class:"controls", :prompt => "Choose a Project" %>
      <%= f.text_field :project_group_cont %> 
    </div>
  </div>
   
   </td>
   <td>
     <div class="control-group">
      <%= f.label :projecttype_projecttype_cont, "ProjectType", class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:projecttype_projecttype_cont, current_user.organization.projecttypes.find(:all), :projecttype,:projecttype,:prompt => "Choose Project Type") %>
    </div>
    </div>         
   </td>
 
  </tr>
  <tr>
   <td>
     <div class="control-group">
      <%= f.label :proj_number_cont, "Proj#", class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :proj_number_cont , class: 'span2'%>
    </div>
    </div>         
   </td>
  
</tr> 

</table>  
  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
    <input type="reset" class='btn'></input>
    <a href="#" id="simple-search">Simple</a>
  </div>  
  </fieldset>
  <% end %>
</div>