<style type="text/css">
.last span{
  display:inline;
}
.last {
  width:80px;
}
</style>
<script type="text/javascript" >
//for selecting all checkboxes
function update_project_id() {         
     var allVals = [];
     $('.searched_result :checked').each(function() {
       allVals.push($(this).val());
     });
     $('#project_check').val(allVals);
  }
//for selecting individual checkboxes 
$(function() {
   $('.searched_result input').click(update_project_id);
   update_project_id();
 });

 $(document).ready(function (){
  $(".check_all_or_none").click(function(){
  $('.searched_result :checkbox').attr('checked', $( this ).is( ':checked' ) ? true : false );
  update_project_id();  
  });
});
</script>

<%#= render :partial => "menu1" %><br/>
<%= render :partial => "menu" %>
<%= render :partial => "search_form", locals: {q: @q} %>

<div id="search-result">
  <% if @projects.blank? %>
    <% if params[:q] %>
      <p class="well">Your search does not generate a result</p>
    <% end %>
<div style="float:left;">
<% if @projects.blank? %>
<b style="color:red;">No Records Found </b>
<% end %>
</div>
  <% else %>
    <div style="float:left;margin-bottom:10px;"><b><% unless @projects.blank? %>(<%= @projects.count %>) Records Found<% end %></b></div>
	 <% if controller.action_name != "index" %>     
     <select name="sel" class="s <%= @secret if !@secret.blank? %> span1" id="up" >
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
     </select>
    <% end %>
   <span class="pull-right" style="padding:5px 5px;"><a href="#" style="text-decoration:none"><b>Pagination Range</b></a>
   </span>


<br/>
    <table class="table table-striped ">
        <th style="width:10px;"><input type="checkbox" class="check_all_or_none"> </th>
       <th><%= sort_link(@q, :type_name, "Project Name") %></th>  
         <th><%= sort_link(@q, :proj_number, "Proj#") %></th>
         <th><%= sort_link(@q, :projecttype_id,"Project Type")%></th>
         <th><%= sort_link(@q, :start_date,"Start Date") %> </th>
         <th><%= sort_link(@q, :end_date,"End Date") %> </th>
         <th><%= sort_link(@q, :project_group,"Project Group") %> </th>
         <th><%= sort_link(@q, :status, "Status") %></th>
         <th>Tasks</th>
         <th>Hours</th>
	       <th>Issues</th>
         <th></th><th></th><th></th>

 
<% @projects.each do |project_type| %>
  <tr>
    <td class="searched_result" ><input type="checkbox" name="project_list[]" id="check_<%= project_type.id %>"  value= "<%= project_type.id %>"></td>
    <td class="cl"><%= project_type.type_name %></td>
    
    <td class="cl"><%= project_type.proj_number %></td>
    <% if !project_type.projecttype.blank? %>
    <td class="cl"><%= project_type.projecttype.projecttype %></td>
    <% else %>
    <td> -</td>
    <% end %>
    <td class="cl"><%= project_type.start_date? ? "#{project_type.start_date.strftime("%b-%d-%Y")}" : "-" %></td>
    <td class="cl"><%= project_type.end_date? ? "#{project_type.end_date.strftime("%b-%d-%Y")}" : "-" %></td>
    <td class="cl"><%= project_type.project_group? ? "#{project_type.project_group}" : "-" %></td>
    <td><%= project_type.status? ? "#{project_type.status}" : "-" %></td>
    <td><%= link_to (project_type.projects).count, project_type %></td>
	
    <% cnt= 0 %>
             <% project_type.projects.each do |t|  %>
                 <% cnt +=  t.time_records.to_a.sum(&:total_hours) %>            
             <% end %>
    <td><%= cnt %></td>
    
    <td><%= link_to (project_type.issues.find(:all, :conditions => {:active => '1'})).count, issues_path(:project_id => project_type), class: 'btn btn-mini btn-primary' %></td>

<% if project_type.status == 'Closed' || project_type.status.blank? %> 
    <td class="last">
       <%#= link_to 'AddTask',new_project_path(project_type: project_type),class: 'btn btn-mini btn-primary' %>
    <span></span>
    <span></span>
    </td> 
<% else %>

<td class="lastlinks">
<span><%= link_to 'Add Task',new_project_path(project_type: project_type),class: 'btn btn-mini btn-primary' %></span>
<span>   
<%= link_to 'Add Issue', new_issue_path(:project_id => project_type), class: 'btn btn-mini btn-primary' %>
</span>
</td>

 <% end %>
    <td>
       <div>
        <span><%= link_to 'Edit', edit_project_type_path(project_type), class: 'btn btn-mini' %></span>
        </div>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @projects %>
<% end %>

</div>
<style>
.lastlinks{
 width:135px;
}
.lastlinks span{
  padding:10px 0px;
  width:80px;
  display:inline;
}
.last span{
  display:inline;
}
.last {
  width:10px;
}
.cl {
  width:90px;  
}
.table th, .table td {
padding:15px 3px;
line-height: 18px;
text-align: left;
vertical-align: top;
border-top: 1px solid #DDD;
}
#up {
 float:right;
}
</style>


