<%= render :partial => "menu" %>

<h1>Reports (<%= short_period(@pay_period) %>)</h1>

<div class="reports_content">
<% if @user_time_records.blank? %>
  <div class="well">
    There is currently no time record!
  </div>
<% else %>

    <table class="table table-striped">
      <tr>
        <th class="span2">Name</th>
        <th class="span2">Total Hours</th>
      </tr>
      <% total = 0 %>
      <% @user_time_records.each do |time_record| %>      
      <tr>
        <td><%= time_record.name %></td>
        <td><%= time_record.total %></td>
      </tr>
      <% total = total + time_record.total.to_f %>
      <% end %>
      <tr>
        <td><strong>Total</strong></td>
        <td><strong><%= total %></strong></td>
      </tr>
    </table>
<% end %>
</div>