<%= render :partial => "menu" %>
<br/>
<% if !@contacts.blank? %>
<%= render :partial => "contacts/search_form", locals: {q: @q} %>
<% end %>
<% if @contacts.blank? %>
  <div class"well">You currently have no contact</div>
<% else %>
  
  
<div id="side">
<span style="text-transform:capitalize;font-size:24px">Contacts</span>
<span class="pull-right">
  
<%= simple_form_for :contacts , url: "/contact_" do %>
             
              <select name="sel" onchange="this.form.submit();" id="paginatevalues" class="span1">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
              </select>
     
<% end %>  
<input type="hidden" id="myid" value='<%= @choosed if !@choosed.blank? %>'>
</span>
<span class="pull-right" style="padding:5px 5px;"><a href="#" style="text-decoration:none"><b>Pagination Range</b></a>
</span>
</div>



 
  <table class="table table-striped">
    <tr>
      <th>Image </th>	
      <th>Contact type</th>
      <th>Contact</th>
      <th>Company</th>
      <th>Email</th>
      <th>IM Tool</th>
      <th>User</th>
      <th>Active</th>
      <th class=""></th>
    </tr>

  <% @contacts.each do |contact| %>
    <tr>
  <td>
  <%if !contact.photo.blank? %>
  <%= image_tag(contact.photo_url(:thumb), :width => '60', :height => '40') if contact.photo_url %>
  <% else %>
  <img src="/assets/sample/business_man_blue.png" height="40" width="60"> </img>
  <% end %>  
  </td>
      <td><%= contact.contact_type.capitalize %></td>
      <td><%= contact.contact %></td>
      <td><%= contact.company %></td>
      <td><%= contact.email %></td>
      <td><%= contact.chat_tool %></td>
      <td><%= contact.user.try(:username) %></td>
       <td>  <% if contact.active? %>
           &nbsp;&nbsp;<%= image_tag("/assets/check-mark-md.png",:width => 18 , :height => 18) %>
           <% else %>
           &nbsp;&nbsp;<%= image_tag("/assets/wrong-icon.jpg",:width => 18 , :height => 18) %>
           <% end %>
     </td>
      <td>
        <%= link_to 'Show', contact, class: 'btn btn-mini' %>
        <%= link_to 'Edit', edit_contact_path(contact), class: 'btn btn-mini' %>
        <%= link_to 'Destroy', contact, confirm: 'Delete this record?', method: :delete, class: 'btn btn-danger btn-mini' %>
      </td>
    </tr>
  <% end %>
  </table>
<%= paginate @contacts %>
<% end %>
<style>
#side span{
  display:inline;
}

</style>
<script type="text/javascript">
    $('document').ready(function(){
        var n= $('#myid').val();        
        $('#paginatevalues').val(n);
        
    });
  
</script>