


<% if @time_records.blank? %>
  <div class="well">
    This task  currently doesn't have any time records
  </div>
<% else %>
  <table class="table table-striped">
    <tr>
      <th>Amount</th>
      <th class="span3">Date</th>
      <th>Activity</th>
	<th>User </th> 
	<th>Task Name </th> 
      <th>Hours</th>

	  <th class="span2"></th>
    </tr>
    <% for time_record in @time_records %>
      <tr>
        <td><%= @project.amount %></td>
        <td><%= time_record.activity_date.to_s(:detail) %></td>
        <td><%= simple_format(two_lines_or_200(time_record.description)) %></td>
        <td><%= time_record.user.try(:username) if !time_record.user_id.blank?  %></td>
        <td><%= time_record.project.try(:title) if !time_record.project_id.blank?  %></td>
        <td><%= time_record.total_hours.to_f %></td>


        <td>
          <%#= link_to "edit", edit_time_record_path(time_record, :project_id => @pay_period.project_id ), class: 'btn btn-mini' %>
          <%#= link_to "delete", time_record, class: 'btn btn-danger btn-mini', method: :delete, confirm: 'Delete this record?' %>
        </td>
      </tr>
    
    <% end %>

<tr> <th class="span2"> Total Hours</th> <td colspan=4> </td><td><b><%= @total_hrs.to_f %></b></td><td></td> </tr>
<tr> <th class="span2"> Balance</th> <td colspan=4> </td><td><b><%= (@project.amount.to_f - @total_hrs.to_f).round(2) %></b></td><td></td> </tr>

  </table>
<% end %>