

<%= render :partial => "menu" %>
<% if !@projects.blank? %>
<%= render :partial => "projects/esearch_form", locals: {q: @q} %>
<% end %>
<div id="search-result">
  <% if @projects.blank? %>
    <% if params[:q] %>
      <p class="well">Your search does not generate a result</p>
    <% end %>
  <% else %>
    <h1>Expanded Project View</h1>
    <table class="table table-striped">
      <tr>
         
         <th><%= sort_link(@q, :title, "Title") %></th>
         
         <th><%= sort_link(@q, :notes, "Description") %></th>
      </tr>
    <% for project in @projects %>
      <tr>
      
       
        <td style="width:200px;"><%= project.title %></td>
         <td><%= project.notes %></td>
      
      </tr>
    <% end %>
    
    
    
    </table>
    
  <% end %>
  
</div>
