 <script type="text/javascript" >
//for selecting all checkboxes
function update_project_id() {         
     var allVals = [];
     $('.searched_result :checked').each(function() {
       allVals.push($(this).val());
     });
     $('#project_check').val(allVals);
  }
//for selecting individual checkboxes 
$(function() {
   $('.searched_result input').click(update_project_id);
   update_project_id();
 });

 $(document).ready(function (){
  $(".check_all_or_none").click(function(){
  $('.searched_result :checkbox').attr('checked', $( this ).is( ':checked' ) ? true : false );
  update_project_id();  
  });
});
</script>
<%#= render :partial => "menu1" if current_user.admin? %><br/>
<%= render :partial => "menu" %>
<%= render :partial => "search1_form", locals: {q: @q} %>

<div id="search-result">
  <% if @projects.blank? %>
    <% if params[:q] %>
      <p class="well">Your search does not generate a result</p>
    <% end %>
<div style="float:left;">
<% if @projects.blank? %>
<b style="color:red;">No Records Found </b>
<% end %>
</div>
  <% else %>

<div style="float:left;margin-bottom:10px;"><b><% unless @projects.blank? %>(<%= @projects.count %>) Records Found<% end %></b></div>  

 <% if controller.action_name != "index" %>     
     <select name="sel" class="s <%= @secret if !@secret.blank? %> span1" id="up" >
               
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
     </select>
    <% end %>
   <span class="pull-right" style="padding:5px 5px;"><a href="#" style="text-decoration:none"><b>Pagination Range</b></a>
   </span>
 




<br/> 
    <table class="table table-striped">
      <tr>
    	 <th style="width:15px;"><input type="checkbox" class="check_all_or_none"> </th>
        <th><%= sort_link(@q, :project_name, "Type") %></th>
        <th><%= sort_link(@q, :title, "Title") %></th>
       <th><%= sort_link(@q, :prq_number, "Task#") %></th>
      <th><%= sort_link(@q, :action_required, "Status") %></th>
       <th><%= sort_link(@q, :status_details, "Status Details") %></th>
       <th><%= sort_link(@q, :per_completed, "% Completed") %></th>
       <th></th><th></th><th></th>
      </tr>
    <% for project in @projects %>
      <tr class="searched_result">
     <td ><input type="checkbox" name="project_list[]" id="check_<%= project.id %>"  value= "<%= project.id %>"></td>
       <td><%= project.project_name %></td>
       
        <td>
            <p>
              <span style="display:block" class="proj_title"><%= project.title %></span>
              <span style="display:none;text-indent:10px" class="proj_notes"><%=  project.notes %></span>
            </p>
        </td>
          <td><%= project.prq_number %></td>
        <td><%= project.action_required %></td>
        
        <td style="text-align:justify"><%= project.status_details %></td>
	 <td><%= project.per_completed %></td><td></td><td></td><td></td>
        
      </tr>
    <% end %>
 
    </table>
    <%= paginate @projects %>
  
<br/>
       
     <% end %> 
</div>


<style>
#up {
 float:right;
}
</style>
