<h1>Listing orgtabs</h1>

<table>
  <tr>
    <th>Tabname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orgtabs.each do |orgtab| %>
  <tr>
    <td><%= orgtab.tabname %></td>
    <td><%= link_to 'Show', orgtab %></td>
    <td><%= link_to 'Edit', edit_orgtab_path(orgtab) %></td>
    <td><%= link_to 'Destroy', orgtab, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Orgtab', new_orgtab_path %>
