<%= render :partial => "menu" %>
<%= simple_form_for @my_thread, :html=>{:multipart => true, class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description, input_html: {rows: '5', class: 'span9'} %>
    <%= f.input :creation_date, :as=>'hidden', input_html: { value: "#{Date.today}" }  %>
    
  </div>

  <div class="form-actions">
    <%= link_to 'Back', my_threads_path, class: 'btn btn-mini-primary' %> &nbsp;&nbsp;<%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
