<% if @link.attachment.present? %>
  <div class="attachment_image">
    <%= image_tag @link.attachment.url, :title => @link.name %>
  </div>
<% else %>
  <div id="link-name">
    <span style="background-color: #<%= @link.bgcolor.present? ? @link.bgcolor : '0099FF' %>"><%= @link.name %></span>
  </div>
<% end %>

<div id="link-message-link">
  <p><%= @link.message_line %></p>
</div>

<div class="login-form">
  <%= form_tag sessions_path, class: 'form-horizontal' do %>
     <fieldset>
       <legend>Log In</legend>
       <div class="control-group">
         <label class="control-label" for="username">Username</label>
         <div class="controls">
           <%= text_field_tag :username, nil, class: "input-xlarge" %>
         </div>
       </div>
       <div class="control-group">
         <label class="control-label" for="password">Password</label>
         <div class="controls">
           <%= password_field_tag :password, nil, class: "input-xlarge", id: "password" %>
         </div>
       </div>
       <div class="control-group">
         <label class="control-label" for="rember_me">Remember me</label>
         <div class="controls">
           <%= check_box_tag :remember_me, 1, params[:remember_me] %>
         </div>
       </div>
       <div class="controls">
           <%= submit_tag "Log in", class: 'btn btn-primary' %>
       </div>
     </fieldset>
   <% end -%>
</div>

<footer>
  <p>Powered By <a href="http://www.ozzcat.com">Ozzcat.com</a></p>
</footer>