<style>
	.prjt_links li {
     		display:inline;
		float:left;
		padding:3px;
  		}

</style>

<script type="text/javascript">
$('document').ready(function(){

    $('.email-link').click(function(e){ 
        e.preventDefault();
        var pj_format = $('#statusreport_format').val();
                      


            
			                $.ajax({
                          type: "POST",
                          url: "/show_maillist",
                          traditional: true,
                          data: {
                              id: $('#s_id').val() ,project_format: pj_format 
                                  },
                          success:function(data, textStatus, XMLHttpRequest){
                               $.fancybox({
                                              'content' : data,
                                              'overlayShow'	: false,
				                                      'transitionIn'	: 'elastic',
				                                      'transitionOut'	: 'elastic',
                                              'autoDimensions'	: false,
			                                        'width'         		: 800,
			                                        'height'        		: 500,
                                              });       
                               }  
				                    });              
 });
});

</script>

<input type="hidden" value="<%= @statusreport.id %>" id="s_id">
<input type="hidden" value="<%= @project_format %>" id="pf_id">
<br/><br/>
<% if !@projects.blank? %>
<div>
<h2> Tasks </h2>

</div>
<br/>


<% if @project_format == 'Format1' %>
<table class="table table-striped">
    
    <tr>
    <th> Project </th>
     
      <th> Title </th>
       <th> Task#</th>
      <th> Status </th>
      <th> Priority </th >
       <th> Status Details </th>
       <th> % Completed </th>
     
      
      <th></th>
    </tr>

  <% @projects.each do |project| %>
    <tr>
    <td><%= project.project_type  %></td>
	  
			
      	   <td><p>
          <span style="display:block" class="proj_title"><%= project.title %></span>
          <span style="display:none;text-indent:10px" class="proj_notes"><%=  project.notes %></span>
          </p>
      </td>
       <td><%= project.prq_number %></td>
	  <td><%= project.action_required %></td>
	 
      
          <td><%= project.priority %></td>
	  <td><%= project.status_details %></td>
          <td><%= project.per_completed %></td><td></td>
    </tr>
  <% end %>
  </table>
</div>
<% else  %> 
<table class="table table-striped">
    
    <tr>
    <th> Ref# </th>
    <th style ="width:250px;"> Title/Task </th>
      <th> Status Date</th >
     <th> Amount</th >
     <th> Actual</th >
     <th style ="width:25px;" > %Comp letion </th >
     <th> Status </th >
     <th style ="width:180px;" > Remarks </th >
     
      
      <th></th>
    </tr>


  <% @projects.each do |project| %>
    <tr>
    <td><%= project.reference  %></td>
	  
			
      	   <td><span ><b><%= project.title %></b></span><br/>
          <span><%=  project.notes %></span>
      </td>
       <td><%= project.status_date.strftime('%b-%d-%Y') if !project.status_date.blank? %></td>
      <td><%= project.amount %></td>
        <td><%= project.actual %></td>
         <td><%= project.per_completed %></td>
	  <td><%= project.action_required %></td>
	  <td><%= project.status_details %></td>
          <td></td>
    </tr>
  <% end %>
  </table>
</div>
<% end %>
<% end %>




<%#= @tsk_array %>
<br/>
<div class="bor">You can enter your  valuable message here </div>
<br/>

<%= simple_form_for :statusreport,:url => url_for(:action=>'resend_mail',:controller=>'statusreports'), :html => {method: :post, class: 'form-horizontal',:multipart => true ,:id => 'eform'}  do |f| %>
<%#= hidden_field_tag "project_check_all" %>
<%= f.input :mailed_projects ,:input_html => {:value => @statusreport.id } ,:as => :hidden %>
<%= f.input :project_format ,:input_html => {:value => @project_format},:as => :hidden %>
<div class="control-group text optional">
<label class="text optional control-label" for="project_msg">Message</label>
<div class="controls">
<textarea class="text optional span5" cols="35" id="project_msg" name="project[msg]" rows="5">
</textarea>
</div>     
</div>
<div class="controls">
<%= f.submit "Send Email" ,class: 'btn btn-mini btn-primary' %> 
</div>
<div id="msgError" style="text-align:center;font-size:11px;font-weight:bolder"> </div>    
<div id="contactError" style="text-align:center;font-size:11px;font-weight:bolder"> </div>    
<% end %>


<style>
 #msgError label,#contactError label {
  color :red;
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size : 13px;
  }
</style>


<script type="text/javascript">
    $(document).ready(function() {  
        var serializedData = $("#eform").serialize();
        $("#eform").validate({ 
            errorPlacement: function (error, element) {
               if (element.attr("name") == "project_check_all") 
                     $("#contactError").append(error); 
               else 
                       error.insertAfter(element); 
                       error.fadeOut(1000);
                             }  ,            
            rules: {
                "project_check_all":{
                    required: true 
                }
              },
            messages: {
                "project_check_all":{
                    required: "Please select atleast one contact" 
                }
            }, 
            submitHandler: function() {
                  if (confirm("You are about to submit, please recheck...")) {
                    var project_check_all = $('#project_check_all').val();
                    var msg = $('#project_msg').val();
                    var mailed_projects = $('#project_mailed_projects').val();
                   $.fancybox.showActivity();
                   $.ajax({
                            url:"/statusreports/resend_mail",
                            type:"POST",
                            data: { project_format: $('#statusreport_project_format').val(),
                            msg: $('#project_msg').val(),mailed_projects: $('#statusreport_mailed_projects').val() }, 
                            success: function(data){ 
                                             $.fancybox({
                                              'content' : data,
                                              'overlayShow'	: false,
				                                      'transitionIn'	: 'elastic',
				                                      'transitionOut'	: 'elastic',
                                              'autoDimensions'	: false,
			                                        'width'         		: 350,
			                                        'height'        		: 'auto',
                                              });     
                              
                                            },
                            error: function() {alert('failed');}
                    }).done(function() {$("#select_emails").multiselect("uncheckAll");});
                    return false;
            }}

        });
    });
</script>
 

