
<ul class="nav nav-tabs">
  <li class="<%= action_active('index') %>">
    <%= link_to expenses_path do %>
        <i class="icon-list-alt"></i>
        Financials
    <% end %>
  </li>


 <li class="<%= action_active('new') %>">
    <%= link_to new_expense_path do %>
      <i class="<%= green_icon %>"></i>
      Create New Financials
    <% end %>
  </li>
 


</ul>

